<h2>Edit blueprint tag</h2>

<%= render "form.html", changeset: @changeset,
                        action: blueprint_tag_path(@conn, :update, @blueprint_tag) %>

<%= link "Back", to: blueprint_tag_path(@conn, :index) %>
