<h2>New factorio version</h2>

<%= render "form.html", changeset: @changeset,
                        action: factorio_version_path(@conn, :create) %>

<%= link "Back", to: factorio_version_path(@conn, :index) %>
